name: Release

concurrency:
  group: "release"
  cancel-in-progress: true

on:
  workflow_dispatch: {}
  push:
    tags:
      - "*"

permissions:
  contents: write
  id-token: write

defaults:
  run:
    shell: bash

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - run: corepack enable
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: 24
          cache: "pnpm"
      - name: Export current version
        run: echo "SNACK_CARDS_VERSION=v$(jq -r .version package.json)" >> $GITHUB_ENV
      - run: pnpm install --frozen-lockfile
      - run: pnpm build
      - run: pnpm zip
      - name: Find zip file
        id: find_zip
        run: |
          ZIP_FILE=$(find .output -name "*.zip" -type f | head -n 1)
          echo "zip_file=$ZIP_FILE" >> $GITHUB_OUTPUT
      - name: Create Release
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2.5.0
        with:
          name: Release ${{ env.SNACK_CARDS_VERSION }}
          files: ${{ steps.find_zip.outputs.zip_file }}
          draft: false
          prerelease: false
